@charset "UTF-8";

@font-face {
    font-family: 'Kalufira';
    src: url(../font/Kalufira.otf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor01: #3B3040;
    --cor02: #8C7796;
    --cor03: #BC99CC;
    --cor04: #C26CEA;
    --cor05: #234D39;
    --cor06: #6CEBAE;

    --fonte-padrão: Arial,Helvetica, sans-serif;
    --fonte-destaque: 'Kalufira', sans-serif;
}

@keyframes girar-e-voltar {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg); 
    }
    100% {
        transform: rotate(0deg); 
    }
}

/* Global configuration*/

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 15px;
    background-color: #c26cea25;
}

body.no-scroll {
    overflow-y: hidden;
}

main {
    max-width: 1440px;
    margin: auto;
}

* {
    margin: 0;
    font: normal normal 1em var(--fonte-padrão);
    cursor: default;
}

/*header*/

header {
    max-width: 1440px;
    height: clamp(80px, 10vw, 100px);
    background-color: var(--cor02);
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
}

header h1 {
    font-family: var(--fonte-destaque);
    font-size: clamp(1.5em, 4vw, 2.5em);
    color: var(--cor01);
    margin-left: 20px;
    line-height: 85%;
}

/*Menu big (min-width: 700px)*/

header #big {
    opacity: 0;
    display: none;
    pointer-events: none;
    position: absolute;
    margin-right: 40px;
    right: 0;
}

#big p{
    font-size: clamp(1em, 1.5vw, 1.5em);
    color: var(--cor01);
    cursor: pointer;
    padding: 10px 0 10px 0;
}

#big p:hover{
    animation: girar-e-voltar 0.5s ease forwards;
}

#big p:not(:last-child) {
    margin-right: 30px;
}

/* Menu small(max-width: 700px) */

header #small {
    margin-left: auto;
}

#small #menu {
    font-size: 2em;
    color: black;
    cursor: pointer;
    padding: 10px;
    z-index: 20;
}

#nav-hidden {
    width: 100%; 
    height: 20px;
    margin-top: -2px;
    display: none;
    background-color: var(--cor01);
    z-index: 10;
    justify-content: center;
    align-items: center;
}

#nav-hidden p{
    font-weight: lighter;
    color: var(--cor03);
    text-align: center;
}

#nav-hidden p:not(:last-child){
    margin-right: clamp(10px, 4vw, 20px);
}

#nav-hidden.active{
    opacity: 1;
    display: flex;
}

#nav-hidden.active #menu {
    display: none;
    opacity: 0;
}

/*Content 01*/

#cont01 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vw;
    min-height: 500px;
    max-height: 960px;
    background-image: url(../imagens/fundo_cont01_pq.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#cont01 h1 {
    z-index: 2;
    color: white;
    font-size: clamp(4.5em, 16vw, 13em);
    margin-top: -100px;
    font-family: var(--fonte-destaque);
    position: absolute;
    text-align: center;
}

#cont01 p{
    z-index: 2;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: var(--cor01);
    font-size: clamp(1em, 1.5vw, 2em);
    font-family: var(--fonte-destaque);
    font-weight: lighter;
}

/* Content 02*/

#cont02 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 50%;
    width: 100%;
    height: 90vw;
    min-height: 800px;
}

/* Configurações globais Content 02 */

.click-text{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.click-text > h1 {
    font: lighter normal clamp(1em, 2vw, 3.5em) var(--fonte-destaque);
}

.click-text:hover > h1{
    animation: girar-e-voltar 0.5s ease forwards;
}

.expand-text {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.expand-text h1{
    font: lighter normal 2em var(--fonte-destaque);
    text-align: center;
    padding: 10px;
}

.click-text.open {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.click-text.open .expand-text{
    width: 60%;
    display: block;
    opacity: 1;
    pointer-events: auto;
    max-height: 35vh; 
    overflow-y: auto; 
    padding: 5%;
    cursor: pointer;
}

.click-text.open > h1 {
    display: none;
    opacity: 0;
}

/*block 01*/

#history {
    grid-column: 1/ span 2;
    grid-row: 1;
    background-color: #4E5936;
}

#history.open {
    background-color: rgba(0, 0, 0, 0.700);
}

#history > h1 {
    color: white;
    cursor: pointer;
}

#history-hidden h1 {
    color: #4E5936;
}

#history-hidden p {
    padding-top: 15px;
    line-height: 23px;
    text-align: justify;
    text-indent: 20px;
}

#history.open #history-hidden {
    background-color: white;
}

#img-block01 {
    background-image: url(../imagens/img_açai01.jpg);
    grid-column: 3/ span 5;
    grid-row: 1;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*block 02*/

#img01-block02 {
    grid-column: 1;
    grid-row: 2;
    background-image: url(../imagens/img_açai02.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#cardapio {
    grid-column: 2/ span 2;
    grid-row: 2;
    background-color: #7C5E44;
}

#cardapio > h1 {
    color: white;
    cursor: pointer;
}

#cardapio-hidden h1 {
    color: #7C5E44;
}

#cardapio-hidden p{
    font-size: 0.8em;
    color: #7C5E44;
    text-align: center;
    margin-top: -12px;
}

#cont-cardapio {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

#cont-cardapio ul{
    margin-top: 50px;
    padding: 0;
}

#cont-cardapio li{
    list-style-position: inside;
}

#cont-cardapio .description{
    list-style-type: none;
    font-size: 0.5em;
    margin-bottom: 15px;
}

#cont-cardapio h2 {
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
    color: #7C5E44;
}

#cardapio.open {
    background-color: rgba(0, 0, 0, 0.700);
}

#cardapio.open #cardapio-hidden { 
    background-color: white;
}

#img02-block02 {
    grid-column: 4;
    grid-row: 2;
    background-image: url(../imagens/img_açaiteria.avif);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#localization {
    grid-column: 5;
    grid-row: 2;
    background-color: var(--cor01);
}

#localization > h1 {
    color: white;
    border-radius: 100%;
    cursor: pointer;
}

#localization h1 {
    color: white;
}

/*block 03*/

#video-block03 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/ span 5;
    grid-row: 3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#video-block03 h1{
    position: absolute;
    font-size: clamp(2em,8vw,8em);
    font-family: var(--fonte-destaque);
    color: white;
    margin-top: -10%;
}

#video-block03 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 80%;
    z-index: -1;
}

/*footer*/ 

footer {
    background-color: var(--cor02);
    height: 15vw;
    min-height: 150px;
}


@media screen and (min-width: 700px) {
    body {
        padding: 25px 40px;
    }

    header #big {
        opacity: 1;
        display: flex;
        pointer-events: all;
    }

    #small #menu {
        display: none;
        pointer-events: none;
        opacity: 0;
    }

    #nav-hidden.active{
        display: none;
        opacity: 0;
        pointer-events: none;
    }

    header h1{
        margin-left: 30px;
    }

    #cont01 {
        background-image: url(../imagens/Sem\ título.png);
    }

    #cont01 h1 {
        font-size: clamp(2em, 9vw, 13em);
        margin: 0;
    }

    #cont01 p{
        margin-top: 400px;
    }

    .click-text.open .expand-text {
        width: 30%;
    }
}